<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL ROOMS</title>
</head>
<body>
<table border="1">
    <tr>
        <ul>
            {% for room in object_list%}
            <td>
                <!--    <li><a href="{{number_room}}"> Number room {{ room.number_room }}</a></li>-->
                <li><p>Number room : {{room.number_room}}</p>
                    <p>max_tenants : {{room.max_tenants}}</p>
                    <p>status : {{room.status}}</p>
                    <p>tenant : {{room.tenant}}</p>
                    <br>
            </td>
            {% endfor%}
        </ul>
    </tr>
</table>
</body>
</html>
