<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ALL TENANTS</title>
</head>
<body>
<table border="1">
    <tr>
        <ul>
            {% for tenant in object_list%}
            <td>
                <li><p>First name : {{tenant.first_name}}</p>
                    <p>Last name : {{tenant.last_name}}</p>
                    <p>Date of birth : {{tenant.date_of_birth}}</p>
                    <p>phone : {{tenant.phone}}</p>
                    <p>notes : {{tenant.notes}}</p>
                    <br>
            </td>
            {% endfor%}
        </ul>
    </tr>
</table>
</body>
</html>
