<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal entry</title>
</head>
<body>
<table border="1">
    <tr>
        <ul>
            <td>
                <li><p>Number room : {{journal.number_room}}</p>
                    <p>Tenant id : {{journal.tenant_id}}</p>
                    <p>Guests count : {{journal.tenants}}</p>
                    <p>Key out : {{journal.key_out}}</p>
                    <p>Key in : {{journal.key_in}}</p>
                    <br>
            </td>
        </ul>
    </tr>
</table>
</body>
</html>
